.instructions {
    color: white;
    text-align: center;
    background: rgba(77, 75, 75, 0.8);
}

.instructions ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.instructions li {
    padding-top: .3rem;
    font-size: 1.4em;
    /* font-size: 7vmin; */
}

.instructions-title {
    /* font-size: 4rem; */
    font-size: 13vmin;
    font-weight: 400;
}