.game {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-keys {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .game-triesLeft {
    color: white;
    text-align: center;
    background: rgba(77, 75, 75, 0.8);
    font-weight: bold;
    font-size: 10vmin;
    font-weight: 400;
  }

  .hide {
      display: none;
      visibility: hidden;
  }

  .game-button {
    border: .2rem solid black;
    background-color: #ffc600;
    font-weight: bolder;
    font-size: 1.5rem;
    color: black;
    padding: 1rem;
    border-radius: 10px;
  }

  .audioPlayer {
    background: rgba(77, 75, 75, 0.8);
    padding: .5em;
    border-radius: 10px;
    color: white;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .audioPlayer span {
    font-size: 1.5rem;
    /* background-color: teal; */
    align-self: center;
    padding-right: 1em;
}

.audioPlayer div {
    font-size: 1.5rem;
    height: inherit;
    vertical-align: middle;
}