.game {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.keys {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
  }