.gameCompletePanel {
    padding: 2rem;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-size: 3rem;
    font-weight: bold; 
    border: .4rem solid #fcf4d9;
}

.wonGame {
    background-color: green;
}

.lostGame {
    background-color: slategray;
}