html {
  background: url('/images/backgroung.jpg') bottom center;
  background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}